{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('restricted') }}
{% endblock %}

{% block body %}

    {{ include('admin/user/_form.html.twig') }}

    {% include 'restricted/commons/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('restricted') }}
    <script>
        $(".hourglass-wrapper").fadeOut(1500);
        
        var form = $("form")

        //skills
        $("#user_for_admin_insert_skills").selectize();

        //bithdate
        $(".datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: (new Date().getFullYear()-100)+':'+new Date().getFullYear(),
        });
        $.datepicker.regional['it'];

        var invalidFile = function(file){
            const  fileType = file['type'];
            const validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
            if (!validImageTypes.includes(fileType)) {
                return true
            }
            return false;
        }

        $(".save-user").click(function(){
            validate();
        });

        var fiscalCodeErrorBox = new jBox('Modal',{
            title: "<b>{{'USER_INVALID_FISCAL_CODE_TITLE'|trans}}</b><span style=\"float:right;color:#18243a;font-size:25px\" onclick=\"fiscalCodeErrorBox.close();\"><i class=\"fa fa-times-circle\"></i></span>",
            content: "{{ 'USER_INVALID_FISCAL_CODE_CAPTION'|trans }}",
            confirmButton: 'OK'
        });

        var requiredErrorBox = new jBox('Modal',{
            title: "<b>{{'USER_REQUIRED_TITLE'|trans}}</b><span style=\"float:right;color:#18243a;font-size:25px\" onclick=\"requiredErrorBox.close();\"><i class=\"fa fa-times-circle\"></i></span>",
            content: "{{ 'USER_REQUIRED_CAPTION'|trans }}",
            confirmButton: 'OK'
        });

        var validate = function(){

            var email = $("#user_for_admin_insert_email").val();
            var name = $("#user_for_admin_insert_name").val();
            var surname = $("#user_for_admin_insert_surname").val();
            if(!email || !name || !surname){
                requiredErrorBox.open();
                return;
            }

            var fiscalCode = $("#user_for_admin_insert_fiscal_code").val();
            var isFiscalCodeValid = Validator.codiceFiscale(fiscalCode).valid;
            if(!isFiscalCodeValid && fiscalCode){
                fiscalCodeErrorBox.open();
                return;
            }

            form.submit();
        }

        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                //console.log(reader.result);
                $("#user_for_admin_insert_upload").parent(".file-upload-wrapper").attr("data-text",$("#user_for_admin_insert_upload").val().replace(/.*(\/|\\)/, '') );
                $("#user_upload_warning").fadeIn(500);
                $("#user_for_admin_insert_picture").val(reader.result);
                $(".card-profile-image .profile-picture").css("background-image", "url("+reader.result+")");
                $(".card-profile-image .fa-user").hide();
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }

        var fileSizeErrorBox = new jBox('Modal',{
            title: "<b>{{ 'PROFILE_PAGE_UPLOAD_MAX_SIZE_TITLE'|trans|raw }}</b><span style=\"float:right;color:#18243a;font-size:25px\" onclick=\"fileSizeErrorBox.close();\"><i class=\"fa fa-times-circle\"></i></span>",
            content: "{{ 'PROFILE_PAGE_UPLOAD_MAX_SIZE_ERROR'|trans }}",
            confirmButton: 'OK'
        });

        var fileInvalidErrorBox = new jBox('Modal',{
            title: "<b>{{ 'PROFILE_PAGE_UPLOAD_INVALID_TITLE'|trans|raw }}</b><span style=\"float:right;color:#18243a;font-size:25px\" onclick=\"fileInvalidErrorBox.close();\"><i class=\"fa fa-times-circle\"></i></span>",
            content: "{{ 'PROFILE_PAGE_UPLOAD_INVALID_ERROR'|trans }}"
        });

        $("#user_for_admin_insert_upload").change(function(){
            var file = $(this)[0].files[0];
            var fileSize = file.size/1024/1024;
            if(fileSize>1) {
                fileSizeErrorBox.open();
            } else if(invalidFile(file)){
                fileInvalidErrorBox.open();
            } else {
                getBase64(file);
            }
        })

        $("form").on('submit',function(){
            $(".hourglass-wrapper").fadeIn(500);
        })

        $("#remove-picture").click(function(){
            $("#user_for_admin_insert_upload").parent(".file-upload-wrapper").attr("data-text",'{{ 'PROFILE_PAGE_UPLOAD_LABEL'|trans }}');
            $("#user_upload_warning").fadeIn(500)
            $("#user_for_admin_insert_picture").val("");
            $(".card-profile-image .profile-picture").css("background-image", "");
            $(".card-profile-image .fa-user").show();
        })

    </script>
{% endblock %}