
{% set current_path = app.request.get('_route') %}

{% if activity.createUser.id != user.id %}
    {% set matchActive = 'not' %}
    {% for match in activity.activityMatches  %}
        {% if match.createUser.id==user.id %}
            {% set matchActive = 'active' %}
        {% endif %}
    {% endfor %}

    {% if matchActive == 'not' %}

        <a  class="col-lg-12 activity-button"
            {% if current_path == "app_activity_detail" %}
            onclick="activityMatch({{ activity.id }},{{ activity.type.id }},{{ activity.estimatedValue }})"
            {% else %}
            href="{{ path('app_activity_detail',{id:activity.id}) }}"
            {% endif %}
        >
            <span id="activity-match-{{ activity.id }}">
                {% if activity.type.id==1 %}
                    {% if current_path == "app_activity_detail" %}
                        <span>{{ 'ACTIVITY_BUTTON_AVAILABLE'|trans }}</span>
                    {% else %}
                        <span>{{ 'ACTIVITY_SEE'|trans }}</span>
                    {% endif %}
                {% endif %}
                {% if activity.type.id==2 %}
                    {% if current_path == "app_activity_detail" %}
                        <span>{{ 'ACTIVITY_BUTTON_NEEDED'|trans }}</span>
                    {% else %}
                        <span>{{ 'ACTIVITY_SEE'|trans }}</span>
                    {% endif %}
                {% endif %}
            </span>
        </a>

    {% else %}

        <a class="col-lg-12 activity-button active" href="{{ path('app_activity_detail',{id:activity.id}) }}">
            <span id="activity-match-{{ activity.id }}">
                {% if activity.type.id==1 %}
                    {{ 'ACTIVITY_MATCH_AVAILABLE_ACTION'|trans }}
                    {% if current_path != "app_activity_detail" %}<br>({{ 'ACTIVITY_SEE'|trans }}){% endif %}
                {% endif %}
                {% if activity.type.id==2 %}
                    {{ 'ACTIVITY_MATCH_NEEDED_ACTION'|trans }}
                    {% if current_path != "app_activity_detail" %}<br>({{ 'ACTIVITY_SEE'|trans }}){% endif %}
                {% endif %}
            </span>
        </a>

    {% endif %}

{%  else %}

    {% if current_path != "app_activity_detail" %}
        <a class="col-lg-12 activity-button " href="{{ path('app_activity_detail',{id:activity.id}) }}">
            <span id="activity-match-{{ activity.id }}">
                {{ 'ACTIVITY_SEE'|trans }}
            </span>
        </a>
    {% endif %}

{% endif %}