{% set current_path = app.request.get('_route') %}
<div class="activity card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="{% if current_path == "app_activity_detail" %}col-8{% else %}col-12{% endif %}">
                <h3 class="mb-0">
                    <span style="border-radius:5px;margin-bottom:5px;display:inline-block;color:white;background:{{ activity.type.id==1?'#387268':'#8b0102' }};padding:4px;">{{ activity.type.id==1?'Richiesta':'Offerta' }}</span>
                    <br>
                    <a href="{{ path('app_activity_detail',{id:activity.id}) }}">{{ activity.type.nameIT }} {{ activity.category.nameIT|lower }}</a>
                </h3>
                {% if activity.location is not null %}
                    <p class="mb-0">{{ activity.location }}</p>
                {% endif %}
            </div>

            {% if current_path == "app_activity_detail" %}

                <div class="col-4 mt-2 text-right">
                    <a href="{{ path('app_member_profile',{id:activity.createUser.id}) }}">
                        {{ activity.createUser.name }}<br>
                        {{ activity.createUser.surname }}<br>
                        <span class="avatar avatar-sm rounded-circle">
                            <div class="rounded-circle profile-picture small" style="background:url({{ activity.createUser.picture }}); position:relative">
                                {% if activity.createUser.picture is null%}
                                    <i class="fa fa-user"></i>
                                {% endif %}
                            </div>
                        </span>
                    </a>
                </div>

                <div class="col-4 mt-2">
                    <img style="width:50px" src='/assets/img/category-{{ activity.category.id }}.svg'>
                </div>
            {% endif %}

            <div class="{% if current_path == "app_activity_detail" %}col-4{% else %}col-12{% endif %} mt-2">
                <i class="fa fa-calendar-day"></i><br>
                <span style="font-size:15px">{{ activity.date|date('d/m/y') }}</span><br>
                <span style="font-size:15px">{{ activity.time|date('H:i') }}</span>
            </div>
            <div class="{% if current_path == "app_activity_detail" %}col-4{% else %}col-12{% endif %} mt-2">
                <i class="fa fa-clock"></i><br>
                <span style="font-size:15px">Durata</span><br>
                <span style="font-size:15px">{{ activity.estimatedValue }} {{ 'UNITS'|trans }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">

        {% if current_path!='app_member_profile' %}
            {% if activity.acceptedUser is null %}
            <div class="row activity-info">
                <div class="col-lg-12">
                    <i class="fa fa-user-plus"></i>
                    <a href="{{ path('app_activity_detail',{id:activity.id}) }}">
                        {% if activity.activityMatches is empty %}

                            {% if activity.type.id==1 %}
                                {{ 'ACTIVITY_AVAILABLE_EMPTY'|trans }}
                            {% endif %}
                            {% if activity.type.id==2 %}
                                {{ 'ACTIVITY_NEEDED_EMPTY'|trans }}
                            {% endif %}

                        {% else %}

                            {% if activity.type.id==1 %}
                                {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_AVAILABLE'|trans }}
                            {% endif %}
                            {% if activity.type.id==2 %}
                                {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_NEEDED'|trans }}
                            {% endif %}

                        {% endif %}
                    </a>
                </div>

            </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <i class="fa fa-user-plus"></i>
                        Svolto da {{ activity.acceptedUser.name }} {{ activity.acceptedUser.surname }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <div class="row activity-description-container">

            <div class="activity-description col-lg-12">
                {{ activity.description }}
            </div>

            {% if current_path!='app_member_profile' %}
                {% include('restricted/activity/partials/button.html.twig') %}
            {% else %}

                {% if activity.rated!=1 %}
                    <a class="col-lg-12 activity-button " href="{{ path('app_activity_rate',{id:activity.id}) }}">
                        <span id="activity-rate-{{ activity.id }}">
                            Assegna medaglia
                            <i class="fa fa-medal"></i>
                        </span>
                    </a>
                {% else %}
                    <a class="col-lg-12 activity-button" style="cursor:default;background:#204e51 !important;">
                        <span id="activity-rate-{{ activity.id }}">
                            Medaglia assegnata
                            <i class="fa fa-medal"></i>
                        </span>
                    </a>
                {% endif %}

            {% endif %}

        </div>

    </div>
</div>
