<div class="activity card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h3 class="mb-0">
                    <span style="border-radius:5px;margin-bottom:2px;display:inline-block;color:white;background:{{ activity.type.id==1?'#387268':'#8b0102' }};padding:4px;">{{ activity.type.id==1?'Richiesta':'Offerta' }}</span>
                    <br>
                    <a href="{{ path('app_activity_detail',{id:activity.id}) }}">{{ activity.type.nameIT }} {{ activity.category.nameIT|lower }}</a>
                </h3>
                {% if activity.location is not null %}
                    <p class="mb-0">{{ activity.location }}</p>
                {% endif %}
            </div>

            {% set current_path = app.request.get('_route') %}
            <div class="col-lg-4">

                {% if current_path == "app_activity_detail" %}
                <div class="text-right">
                    <a href="{{ path('app_member_profile',{id:activity.createUser.id}) }}">
                        <span class="avatar avatar-sm rounded-circle">
                            <div class="rounded-circle profile-picture small" style="background:url({{ activity.createUser.picture }}); position:relative">
                                {% if activity.createUser.picture is null%}
                                    <i class="fa fa-user"></i>
                                {% endif %}
                            </div>
                        </span>
                        <br>
                        <span>{{ activity.createUser.name }} {{ activity.createUser.surname }}</span>
                    </a>
                </div>
                {% endif %}
            </div>

            {% if current_path == "app_activity_detail" %}
            <div class="col-lg-4 mt-2">
                <img style="width:50px" src='/assets/img/category-{{ activity.category.id }}.svg'>
            </div>
            {% endif %}

            <div class="col-lg-4 mt-2">
                Quando<br>
                <i class="fa fa-calendar-day"></i>
                <span>{{ activity.date|date('d/m/Y') }} {{ activity.time|date('H:i') }}</span>
            </div>
            <div class="col-lg-4 mt-2">
                Durata<br>
                <i class="fa fa-clock"></i>
                <span>{{ activity.estimatedValue }} {{ 'UNITS'|trans }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% if activity.acceptedUser is null %}
        <div class="row activity-info">
            <div class="col-lg-12">
                <i class="fa fa-user-plus"></i>
                <a href="{{ path('app_activity_detail',{id:activity.id}) }}">
                    {% if activity.activityMatches is empty %}

                        {% if activity.type.id==1 %}
                            {{ 'ACTIVITY_AVAILABLE_EMPTY'|trans }}
                        {% endif %}
                        {% if activity.type.id==2 %}
                            {{ 'ACTIVITY_NEEDED_EMPTY'|trans }}
                        {% endif %}

                    {% else %}

                        {% if activity.type.id==1 %}
                            {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_AVAILABLE'|trans }}
                        {% endif %}
                        {% if activity.type.id==2 %}
                            {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_NEEDED'|trans }}
                        {% endif %}

                    {% endif %}
                </a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-user-plus"></i>
                Svolto da {{ activity.acceptedUser.name }} {{ activity.acceptedUser.surname }}
            </div>
        </div>
        {% endif %}

        <div class="row activity-description-container">

            <div class="activity-description col-lg-12">
                {{ activity.description }}
            </div>

            {% include('restricted/activity/partials/button.html.twig') %}

        </div>
    </div>
</div>
