<div class="activity card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <h3 class="mb-0">
                    <a href="{{ path('app_activity_detail',{id:activity.id}) }}">{{ activity.type.nameIT }} {{ activity.category.nameIT|lower }}</a>
                </h3>
                {% if activity.location is not null %}
                    <p class="mb-0">{{ activity.location }}</p>
                {% endif %}
            </div>
            <div class="col-lg-6 mt-2">
                Quando<br>
                <i class="fa fa-calendar-day"></i>
                <span>{{ activity.date|date('d/m/Y') }} {{ activity.time|date('H:i') }}</span>
            </div>
            <div class="col-lg-6 mt-2">
                Durata<br>
                <i class="fa fa-clock"></i>
                <span>{{ activity.estimatedValue }} {{ 'UNITS'|trans }}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        {% if activity.acceptedUser is null %}
        <div class="row activity-info">
            <div class="col-lg-12">
                <i class="fa fa-user-plus"></i>
                <a href="{{ path('app_activity_detail',{id:activity.id}) }}">
                    {% if activity.activityMatches is empty %}

                        {% if activity.type.id==1 %}
                            {{ 'ACTIVITY_AVAILABLE_EMPTY'|trans }}
                        {% endif %}
                        {% if activity.type.id==2 %}
                            {{ 'ACTIVITY_NEEDED_EMPTY'|trans }}
                        {% endif %}

                    {% else %}

                        {% if activity.type.id==1 %}
                            {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_AVAILABLE'|trans }}
                        {% endif %}
                        {% if activity.type.id==2 %}
                            {{ activity.activityMatches|length }} {{ 'ACTIVITY_PEOPLE_NEEDED'|trans }}
                        {% endif %}

                    {% endif %}
                </a>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-user-plus"></i>
                Svolto da {{ activity.acceptedUser.name }} {{ activity.acceptedUser.surname }}
            </div>
        </div>
        {% endif %}

        <div class="row activity-description-container">

            <div class="activity-description col-lg-12">
                {{ activity.description }}
            </div>

            {% include('restricted/activity/partials/button.html.twig') %}

        </div>
    </div>
</div>
