<div class="card bg-secondary shadow">
    <div id="activity_insert_header" class="card-header bg-white border-0" style="padding: 0px 15px; max-height:45px !important;">
        <div class="row align-items-center">
            <a class="btn btn-block btn-success fe-pulse" id="insert-activity" href="javascript:void(0)">Aggiungi attività&nbsp;&nbsp;<i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div class="card-body" style="display:none" id="activity_insert_body">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_TYPE'|trans }}</label>
                        {{ form_widget(form.type, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_CATEGORY'|trans }}</label>
                        {{ form_widget(form.category, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_LOCATION_LABEL'|trans }}</label>
                        {{ form_widget(form.location, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_DATE_LABEL'|trans }}</label>
                        {{ form_widget(form.date, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_TIME_LABEL'|trans }}</label>
                        {{ form_widget(form.time, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_VALUE_ESTIMATED_EXTENDED'|trans }}</label>
                        {{ form_widget(form.estimated_value, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group focused">
                        <label class="form-control-label">{{ 'ACTIVITY_DESCRIPTION'|trans }}</label>
                        <a href="javascript:void(0)" id="emoji-trigger" class="emoji-trigger-button" >&#128522;</a>
                        {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-lg'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <div class="form-group focused">
                        <button class="btn btn-success btn-lg btn-block">{{ 'ACTIVITY_INSERT_CTA'|trans }}</button>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>