<h1>{{ matchTitle }}</h1>

<p>Puoi vedere <a href="{{ website }}{{ path('app_activity_detail',{id:activity.id}) }}">la tua attività cliccando qui</a> per decidere se scegliere questo utente</p>

<p>Di seguito le informazioni dell'attività</p>
<ul>
    {% if activity.location is not null %}<li>Dove: {{ activity.location }}</li>{% endif %}
    <li>Quando: {{ activity.date|date('d/m/Y') }} {{ activity.time|date('H:i') }}</li>
    <li>Per quanto tempo: {{ activity.estimatedValue }} {{ 'UNITS'|trans }}}</li>
    {% if activity.description %}<li>Descrizione: {{ activity.description }}</li>{% endif %}
</ul>

