<div class="cd-timeline__block">
    <a href="{{ path('app_member_profile',{id:activity.createUser.id}) }}" class="cd-timeline__img cd-timeline__img--picture">
        <span class="avatar avatar-sm rounded-circle">
            <div class="rounded-circle profile-picture small" style="background:url({{ activity.createUser.picture }})">
                {% if activity.createUser.picture is null%}
                    <i class="fa fa-user"></i>
                {% endif %}
            </div>
        </span>
    </a> <!-- cd-timeline__img -->

    <div class="cd-timeline__content">
        {% include('restricted/activity/partials/detail.html.twig') %}

        <div class="flex justify-between items-center">
            <a href="{{ path('app_member_profile',{id:activity.createUser.id}) }}" class="cd-timeline__created">{{ activity.createUser.name }} {{ activity.createUser.surname }}</a>
            <span class="cd-timeline__date">
                <span class="user-points">{{ acitivitiesUsersStatistics[loop.index0].level.points }}p</span>&nbsp;|&nbsp;<i class="fa {{ acitivitiesUsersStatistics[loop.index0].level.icon }}"></i>&nbsp;<span>{{ acitivitiesUsersStatistics[loop.index0].level.extended }}</span>
            </span>
        </div>
    </div> <!-- cd-timeline__content -->
</div> <!-- cd-timeline__block -->