{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('public') }}
{% endblock %}

{% block body %}

    <a class="login-logo-image" href="/">
        <img src="assets/img/0-logo-bianco.png" alt="alternative">
        <span class="beta-icon">Beta</span>
    </a>

    <div id="section-auth" style="height:100%">

         <div class="login-block">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="error" role="alert">{{ flashError }}</div>
            {% endfor %}
            <h1>{{ 'RESET_PASSWORD_REQUEST_TITLE'|trans }}</h1>
            <p>{{ 'RESET_PASSWORD_REQUEST_CAPTION'|trans|raw }}</p>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                {{ 'RESET_PASSWORD_REQUEST_HINT'|trans|raw }}
                <button class="btn btn-primary">{{ 'RESET_PASSWORD_REQUEST_CTA'|trans }}</button>
                {{ 'RESET_PASSWORD_REQUEST_BACK'|trans|raw }}
            {{ form_end(requestForm) }}
         </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('public') }}
{% endblock %}