<div class="footer">
    <div class="container">
        <div class="row">
            {#
            <div class="col-md-4">
                <div class="footer-col">
                    <h4>{{ 'HOME_FOOTER_LOCATION_TITLE'|trans }}</h4>
                    <p>{{ 'HOME_FOOTER_LOCATION'|trans }}</p>
                </div>
            </div> <!-- end of col -->
            #}
            <div class="col-md-6">
                <div class="footer-col middle">
                    <h4>{{ 'HOME_FOOTER_LINKS_TITLE'|trans }}</h4>
                    <ul class="list-unstyled li-space-lg">
                        {#
                        <li class="media">
                            <div class="media-body">{{ 'HOME_FOOTER_LINKS_1_PREFIX'|trans }} <a class="turquoise" href="{{ path('guidelines') }}">{{ 'GUIDELINES_TITLE'|trans }}</a></div>
                        </li>
                        #}
                        <li class="media">
                            <div class="media-body">
                                <a href="https://www.iubenda.com/privacy-policy/75785484" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                            </div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="footer-col last">
                    <h4>Social Media</h4>
                    <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                    <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->