<div id="section-3" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{ 'HOME_ACTIVITY_TITLE'|trans }}</h2>
                <p style="padding:20px;color:black;text-align:justify;margin-bottom:40px"><b>{{ 'HOME_ACTIVITY_CAPTION'|trans}}</b></p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <div class="team-member" data-category="{{ activityCategories[0].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Baby-Petsitting.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[0].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[1].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Spesa.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[1].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[2].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Assistenza.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[2].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[3].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Compagnia.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[3].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[4].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Lingua.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[4].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[5].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img//Baby-Petsitting.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[5].nameIT }}</strong></p>
                </div>

                <div class="team-member" data-category="{{ activityCategories[6].nameIT }}">
                    <div class="image-wrapper" style="border-radius:0px;overflow: initial;">
                        <img class="img-fluid" src="assets/img/Spesa.svg" alt="alternative">
                    </div>
                    <p class="p-large"><strong>{{ activityCategories[6].nameIT }}</strong></p>
                </div>

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of about -->