<h2>{{ 'HOME_CONTACT_EMAIL_TITLE'|trans }}</h2>

<p>{{ 'HOME_CONTACT_EMAIL_CAPTION'|trans }}</p>

<ul>
    <li>{{ 'HOME_CONTACT_FIELD_1'|trans }}: {{ cname }}</li>
    <li>{{ 'HOME_CONTACT_FIELD_2'|trans }}: {{ cemail }}</li>
    <li>{{ 'HOME_CONTACT_FIELD_3'|trans }}: {{ cphone }}</li>
    <li>{{ 'HOME_CONTACT_FIELD_4'|trans }}: {{ cselect }}</li>
</ul>
