{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('restricted') }}
{% endblock %}

{% block body %}

    {% include('admin/commons/offcanvas-menu-right.html.twig') %}
    <div id="main" class="main-content">

        {% include 'admin/commons/navbar.html.twig' %}
        {% include 'restricted/commons/header.html.twig' %}
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h2 class="display-2">{{ 'ACTIVITY_CALENDAR_TITLE'|trans }}</h2>
                                </div>
                                <div class="col-lg-2">
                                    <a style="float:right" class="btn btn-success" href="{{ path('admin_activity_new') }}">{{ 'ACTIVITY_INSERT_CTA'|trans }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin-bottom:20px">
                                <div class="col-lg-4 mt-2">
                                    <select id="activity_type_filter" class="form-control">
                                        <option value="">Tutte le tipologie</option>
                                        {% for type in activityTypes %}
                                            <option value="{{ type.id }}">{{ type.nameIT }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4 mt-2">
                                    <select id="activity_category_filter" class="form-control">
                                        <option value="">Tutte le categorie</option>
                                        {% for cat in activityCategories %}
                                            <option value="{{ cat.id }}">{{ cat.nameIT }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4 mt-2">
                                    <select id="accepted_filter" class="form-control">
                                        <option value="">Tutte le attività</option>
                                        <option value="yes">Attività assegnate</option>
                                        <option value="no">Attività non ancora assegnate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Preloader -->
                                    {% include('public/commons/spinner.html.twig') %}
                                    <!-- end of preloader -->
                                    <div id="calendar-holder" data-calendar-role="ADMIN" data-events-url="{{ path('fc_load_events') }}"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'restricted/commons/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('restricted') }}

    <script>
        var del = function(id){

            var box = new jBox('Confirm', {
                title: "{{'ACTIVITY_DELETE_QUESTION'|trans}}",
                content: "{{ 'ACTIVITY_DELETE_CAPTION'|trans }}",
                confirm: function(){
                    $.ajax({
                        type: "POST",
                        url:'/admin/activity/calendar/delete/'+id,
                        success: function(response) {
                            window.location.reload();
                        }
                    })
                },
                confirmButton: "{{ 'CONFIRM'|trans }}",
                cancelButton: "{{ 'CANCEL'|trans }}"
            });

            box.open();
        }
    </script>
{% endblock %}