{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('restricted') }}
{% endblock %}

{% block body %}

    {% include('restricted/commons/listing-notifications.html.twig') %}
    {% include('restricted/commons/offcanvas-menu-right.html.twig') %}

    <div id="main" class="main-content">

        {% include 'restricted/commons/navbar.html.twig' %}
        {% include 'restricted/commons/header.html.twig' %}
        <!-- Page content -->
        <div class="container-fluid mt--7">

            <div class="row">

                <div class="col-12">

                    <div class="row">
                        <div class="col-xl-4 order-2 mb-5 mb-xl-0">
                            <hr>
                            {% include('restricted/member-profile/partials/card.profile.html.twig') %}

                        </div>
                        <div class="col-xl-8 order-1">
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0">
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <h3 class="mb-0">Il profilo di {{ member.name }}</h3>
                                            <p>Mostriamo solo alcune informazioni per garantire la massima privacy.<br>Non preoccuparti, condividiamo le informazioni necessarie se devi svolgere una attività con {{ member.name }} (chiedendo il vostro permesso al momento opportuno).</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    {% include 'restricted/member-profile/partials/primary.profile.html.twig' %}
                                    <hr class="my-4">
                                    {% include 'restricted/member-profile/partials/secondary.profile.html.twig' %}
                                </div>
                            </div>

                            {% if activities is defined and activities|length>0 %}
                                <div class="mt-3">
                                    <h1>Vota le attività condivise</h1>
                                    <p>
                                        Puoi decidere di assegnar una medaglia a {{ member.name }} per ogni attività che avete condiviso e di cui sei rimasto soddisfatto. Il tuo gesto aiuterà a far crescere la reputazione di {{ member.name }} sulla piattaforma classificandolo come una persona affidabile!</p>
                                </div>
                                <div class="owl-carousel owl-theme ">
                                    {% for activity in activities %}
                                        <div class="item">
                                            {% include('restricted/activity/partials/detail.html.twig') %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    {% include 'restricted/commons/footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('restricted') }}

    <script>
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:3
                    }
                }
            })
        });
    </script>

{% endblock %}