<div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
        <div class="row align-items-center">
            <div class="col-8">
                <h3 class="mb-0">{{ 'LEADERBOARDS_PAGE_LISTING_SUBTITLE_3'|trans }}</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="medal" style="width:100%">
            <thead>
            <tr>
                <td>Posizione</td>
                <td>Nome e Cognome</td>
                <td>Medaglie</td>
            </thead>
            <tbody>
            {% for leaderboardMedalUser in leaderboardMedalUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><b><a href="{{ path('app_member_profile',{id:leaderboardMedalUser.id}) }}">{{ leaderboardMedalUser.name }} {{ leaderboardMedalUser.surname }}</a></b></td>
                    <td class="highlight dark"><b>{{ leaderboardMedalUser.rating }}</b></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>