<div class="card card-profile shadow">
    <div class="row align-items-center" style="margin-left: 10px;margin-top: 10px;margin-right: 20px;">
        <div class="col-8">
            <h6 class="heading-small text-muted mb-4">{{ 'PROFILE_PAGE_SUBTITLE_5'|trans }}</h6>
        </div>
        <div class="col-4 text-right">
            <a href="javascript:void(0)" class="btn btn-sm btn-success save-user">{{ 'PROFILE_PAGE_SAVE'|trans }}</a>
        </div>
    </div>
    <div class="card-body pt-0 pt-md-4">
        <div class="text-left">
            <p>{{ 'PROFILE_PAGE_UPLOAD_HINT'|trans|raw }}</p>
            {{ form_errors(form.upload) }}
            <div class="file-upload-wrapper" data-text="{{ 'PROFILE_PAGE_UPLOAD_LABEL'|trans }}">
                {{ form_widget(form.upload, {'attr': {'class': 'file-upload-field'}}) }}
            </div>
            {{ form_widget(form.picture, {'attr': {'class': ''}}) }}

            {% if user.picture is defined and user.picture is not empty %}
                <div class="mb-2">
                    <a class="btn btn-outline-danger btn-block" href="javascript:void(0)" id="remove-picture">{{ 'PROFILE_PAGE_UPLOAD_REMOVE'|trans }}</a>
                </div>
            {% endif %}

            <div id="user_upload_warning" class="text-center" style='display:none;font-weight:600;color:darkred'>
                <i class='fa fa-exclamation-triangle'></i>
                <br>
                {{ 'PROFILE_PAGE_UPLOAD_SAVE_WARNING'|trans|raw }}
            </div>
        </div>
    </div>
</div>