{{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group focused">
                <label class="form-control-label">{{ 'UNITS'|trans }}</label>
                {{ form_widget(form.value, {'attr': {'class': 'form-control form-control-alternative'}}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group focused">
                <label class="form-control-label">{{ 'ACTIVITY_TRANSACTION_USER_FROM'|trans }}</label>
                {{ form_widget(form.userFrom, {'attr': {'class': ''}}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group focused">
                <label class="form-control-label">{{ 'ACTIIVTY_TRANSACTION_USER_TO'|trans }}</label>
                {{ form_widget(form.userTo, {'attr': {'class': ''}}) }}
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group focused">
                <label class="form-control-label">{{ 'ACTIIVTY_TRANSACTION_REASON'|trans }}</label>
                {{ form_widget(form.reason, {'attr': {'class': 'form-control form-control-alternative'}}) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group focused">
                <button class="btn btn-success btn-block" style="margin-top:30px">{{ 'ACTIVITY_TRANSACTION_ADD'|trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}