{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('restricted') }}
{% endblock %}

{% block title %}{{ 'CREDIT'|trans }}{% endblock %}

{% block body %}

    {% include('admin/commons/offcanvas-menu-right.html.twig') %}
    <div id="main" class="main-content">

        {% include 'admin/commons/navbar.html.twig' %}
        {% include 'restricted/commons/header.html.twig' %}
        <div class="container-fluid mt--7">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-lg-10">
                             <h1>Transazioni</h1>
                        </div>
                        <div class="col-lg-2">
                            <a style="float:right" class="btn btn-success" href="{{ path('admin_transaction_new') }}">{{ 'ACTIVITY_TRANSACTION_ADD'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="margin-bottom:20px">
                        <div class="col-lg-4 mt-2">
                            <label>{{ 'FROM_DATE'|trans }}</label>
                            <br>
                            <input id="date_from" name="date_from" style="display:inline" class="form-control form-control-alternative" value="{{ date_from }}">
                        </div>
                        <div class="col-lg-4 mt-2">
                            <label>{{ 'TO_DATE'|trans }}</label>
                            <br>
                            <input id="date_to" name="date_to" style="display:inline" class="form-control form-control-alternative" value="{{ date_to }}">
                        </div>
                        <div class="col-lg-4 mt-2">
                            <label>Cerca per cognome</label>
                            <div class="row">
                                <div class="col-lg-8">
                                    <input style="display:inline" class="form-control form-control-alternative" id="search" name="search" value="{{ search }}">
                                </div>
                                <div class="col-lg-4">
                                    <a href="javascript:void(0)" id="search-button" class="btn btn-success btn-block">Cerca</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table"  style="width:100%">
                        <thead>
                            <tr>
                                <th>Da</th>
                                <th>A</th>
                                <th>Ore</th>
                                <th>Data</th>
                                <th>Attività</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{% if item.userFrom is not null %}{{ item.userFrom.surname }} {{ item.userFrom.name }}{% else %}{{ 'BANK_NAME'|trans }}{% endif %}</td>
                                <td>{{ item.userTo.surname }} {{ item.userTo.name }}</td>
                                <td>{{ item.value }}</td>
                                <td>{{ item.createTimestamp ? item.createTimestamp|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    {% if item.activity is not null%}
                                        <a class="btn btn-primary btn-sm" title="Mostra sul sito" target="_blank" href="{{ path('app_activity_detail',{id:item.activity.id}) }}">Mostra <i class="fa fa-eye"></i></a>
                                    {% elseif item.reason is not null %}
                                        {{ item.reason }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ include('admin/transaction/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Nessun record</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <div class="records">Da {{ offset?offset:1 }} a {{ offset+limit }} di {{ total }}</div>

                        {% if page!=0 %}
                            <a href="{{ path('admin_transaction_index',{'page':page-1,'date_from':date_from,'date_to':date_to,'order':order,}) }}" class="page"><i class="fa fa-chevron-left"></i></a>
                        {% endif %}
                        <a href="{{ path('admin_transaction_index',{'page':page,'date_from':date_from,'date_to':date_to,'order':order,}) }}" class="page">{{ page+1 }}</a>
                        {% if page!=(pages-1)%}
                            <a href="{{ path('admin_transaction_index',{'page':page+1,'date_from':date_from,'date_to':date_to,'order':order,}) }}" class="page"><i class="fa fa-chevron-right"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'restricted/commons/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('restricted') }}
    <script>

        $("#date_from").datepicker({
            dateFormat: 'dd/mm/yy'
        }).change(function(){
            var date_from = $(this).val();
            window.location.href = "{{ (path('admin_transaction_index',{'date_to':date_to,'order':order,'search':search}))|raw }}&date_from="+date_from;
        });

        $("#date_to").datepicker({
            dateFormat: 'dd/mm/yy'
        }).change(function(){
            var date_to = $(this).val();
            window.location.href = "{{ (path('admin_transaction_index',{'date_from':date_from,'order':order,'search':search}))|raw }}&date_to="+date_to;
        });;

        $("#search-button").click(function(){
            var search = $("#search").val();
            window.location.href = "{{ (path('admin_transaction_index',{'date_from':date_from,'date_to':date_to,'order':order}))|raw  }}&search="+search;
        });

        $(".table").dataTable({
            paging:false,
            searching: false,
            ordering:  false,
            info: false
        });

        var del = function(id){

            var box = new jBox('Confirm', {
                title: "{{'ACTIVITY_TRANSACTION_DELETE_QUESTION'|trans}}",
                content: "{{ 'ACTIVITY_TRANSACTION_DELETE_CAPTION'|trans }}",
                confirm: function(){
                    $("#delete-"+id).submit();
                },
                confirmButton: "{{ 'CONFIRM'|trans }}",
                cancelButton: "{{ 'CANCEL'|trans }}"
            });

            box.open();
        }


    </script>
{% endblock %}
