<div class="card card-profile shadow">
    <div class="row align-items-center" style="margin-left: 10px;margin-top: 10px;margin-right: 20px;">
        <div class="col-8">
            {% if edit is defined and edit %}
                <h6 class="heading-small" style="color:darkred">{{ 'USER_EDIT_PASSWORD_AREA'|trans }}</h6>
                <p class="heading-small mb-4" style="color:darkred">{{ 'USER_EDIT_PASSWORD_HINT'|trans }}</p>
            {% else %}
                <h6 class="heading-small">{{ 'USER_INSERT_PASSWORD_AREA'|trans }}</h6>
                <p class="heading-small mb-4">{{ 'USER_INSERT_PASSWORD_HINT'|trans }}</p>
            {% endif %}
        </div>
        <div class="col-4 text-right">
            <a href="javascript:void(0)" class="btn btn-sm btn-success save-user">{{ 'PROFILE_PAGE_SAVE'|trans }}</a>
        </div>
    </div>
    <div class="card-body pt-0 pt-md-4">
        <div class="row" >
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">{{ 'PASSWORD'|trans }}</label>
                    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-control-label">{{ 'REPEAT_PASSWORD'|trans }}</label>
                    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control form-control-alternative'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>